body{
    text-align: center;
    background-color: gray;
}

.container{
    border: 2px solid black;
    background-color: #dcdcdc;
}

.cadastrarApresenta{
    border: 2px solid black;
    text-decoration: none;
    font-size: 25px;
    padding: 5px;
    background-color: green;
    color: black;
}

.consultaApresenta{
    border: 2px solid black;
    text-decoration: none;
    font-size: 25px;
    padding: 5px;
    background-color: rgb(90, 197, 255);
    color: black;
}

.github{
    border: 2px solid black;
    text-decoration: none;
    font-size: 25px;
    background-color: black;
    color: white;
}
