body{
    text-align: center;
    background-color: gray;
}

.container{
    border: 2px solid black;
    background-color: #dcdcdc;
}

.cadastrar{
    border: 2px solid black;
    text-decoration: none;
    font-size: 25px;
    padding: 5px;
    background-color: green;
    color: black;
}

.cabecalho{
        border: 2px solid black;
        background-color: rgb(109, 109, 109);
}