body{
    text-align: center;
    background-color: gray;
}

.buttonBuscar{
    background-color: green;
    width: 200px;
    right: 200px;
}

.pesquisaInput{
    width: 300px;
}


.inicio{
    border: 2px solid black;
    text-decoration: none;
    font-size: 25px;
    padding: 5px;
    background-color: green;
    color: black;
}

.consultaApresenta{
    border: 2px solid black;
    text-decoration: none;
    font-size: 25px;
    padding: 5px;
    background-color: yellow;
    color: black;
}

.github{
    border: 2px solid black;
    text-decoration: none;
    font-size: 25px;
    background-color: black;
    color: white;
}

.par{
    background-color: gray;
}

.impar{
    background-color: white;
}

.linha{
    display: inline-block;
    border: 1px dashed black;
}

.deletar{
    text-decoration: none;
    border: 3px solid black;
    font-size: 25px;
    padding: 5px;
    background-color: Yellow;
    color: black;
}